@use 'sass:math';
@import 'mixins';
@import 'varibles';

.home {
  padding: 200px 0 240px 0;

  // home__container

  &__container {
    max-width: 990px;
    margin: auto;
  }

  // .home_info

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .home_img

  &__img {
    width: 400px;
  }

  // .home__title

  &__title {
    font-size: 32px;
    font-weight: 600;

    span {
      font-size: 52px;
    }
  }

  // .home__subtitle

  &__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
  }

  // .home__skills

  &__skills {
    display: flex;
    gap: 32px;
    align-items: center;
    padding-top: 60px;
  }

  // .home__skillsTitle
  &__skillsTitle {
  }

  // .home__skillsList
  &__skillsList {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.about {
  background-color: #212121;
  padding: 160px 0;

  // .about__container
  &__container {
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 56px;
  }

  // .about__imgBlock

  &__imgBlock {
  }

  // .about__img

  &__img {
    width: 440px;
  }

  // .about__textBlock

  &__textBlock {
  }

  // .about__title

  &__title {
    font-size: 32px;
    margin-bottom: 32px;
    font-weight: 600;

    &::after {
      content: '';
      display: block;
      height: 2px;
      width: 157px;
      background-color: #007ced;
    }
  }

  // .about__text

  &__text {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.9);
  }
}

.projects {
  padding: 160px 0;

  // .projects__container

  &__container {
    max-width: 960px;
    margin: auto;
  }

  // .projects__title

  &__title {
    font-size: 32px;
    margin-bottom: 56px;
    font-weight: 600;

    &::after {
      content: '';
      display: block;
      height: 2px;
      width: 133px;
      background-color: #007ced;
    }
  }
}

.project {
  display: flex;
  flex-direction: column;
  gap: 40px;

  // .project__item

  &__item {
    background-color: #212121;
    border-radius: 25px;
    padding: 16px;
    display: flex;
    gap: 24px;

    &:hover {
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    }
  }

  // .project__image

  &__image {
    width: 500px;
    border-radius: 10px;
  }

  // .project__info

  &__info {
    display: flex;
    flex-direction: column;
    height: 330px;
  }

  // .project__title

  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
  }

  // .project__description

  &__description {
    color: rgba(255, 255, 255, 0.9);
    text-align: justify;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
  }

  // .project__used

  &__used {
    display: flex;
    gap: 22px;
    margin-bottom: 24px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  // .project__usedIcaon

  &__usedIcon {
    height: 30px;
  }

  // .project__usedList

  &__usedList {
    display: flex;
    gap: 24px;
  }

  // .project__buttons

  &__buttons {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }

  // .project__button

  &__button {
    display: flex;
    width: 168px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #007ced;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #007ced;
    }
  }
}

.contact {
  background-color: #212121;
  padding: 160px 0;

  // .contact__container

  &__container {
    max-width: 960px;
    margin: auto;
  }

  // .contact__title

  &__title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 56px;

    &::after {
      content: '';
      display: block;
      height: 2px;
      width: 134px;
      background-color: #007ced;
    }
  }

  // .contact__info

  &__info {
    display: flex;
    gap: 80px;
  }

  // .contact__main

  &__main {
    display: flex;
    gap: 80px;
  }

  // .contact__location

  &__location {
    display: flex;
    gap: 16px;
  }

  // .location__icon

  &__locationIcon {
    width: 26px;
    height: 40px;
    margin-top: 6px;
  }

  // .contact__locationInfo

  &__locationInfo {
  }

  // .contact__locationTitle

  &__locationTitle {
    font-size: 20px;
  }

  // .contact__locationDescription

  &__locationDescription {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  // .contact__mail

  &__mail {
    display: flex;
    gap: 16px;
  }

  // .mail__icon

  &__mailIcon {
    width: 40px;
    height: 28px;
    margin-top: 6px;
  }

  // .contact__mailInfo

  &__mailInfo {
  }

  // .contact__mailTitle

  &__mailTitle {
    font-size: 20px;
  }

  // .contact__mailDescription

  &__mailDescription {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    line-height: 27px;
  }

  // .contact__links

  &__links {
    display: flex;
    gap: 32px;
  }

  // .contact__github

  &__github {
  }

  // .contact__linkedin

  &__linkedin {
  }
}
// =============================================================================

// =============================================================================
// From 768 to 991

@media (max-width: 991px) {
  .home {
    @include adaptiveValue('padding-top', 200, 80, 1440, 320, 1);
    @include adaptiveValue('padding-bottom', 240, 60, 1440, 320, 1);

    // home__container

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    // .home__info

    &__info {
      display: flex;
      flex-direction: column;

      & div:nth-child(1) {
        order: 2;
      }

      & div:nth-child(2) {
        order: 1;
      }
    }

    // .home__title

    &__title {
      text-align: center;
    }

    // .home__subtitle

    &__subtitle {
      text-align: center;
    }

    // .home__skills

    &__skills {
      display: flex;
      flex-direction: column;
    }

    // .home__skillsTitle

    &__skillsTitle {
      &::after {
        content: '';
        display: block;
        width: 100px;
        height: 2px;
        background-color: #007ced;
        margin-top: 8px;
      }
    }
  }

  .about {
    @include adaptiveValue('padding-top', 160, 60, 1440, 320, 1);
    @include adaptiveValue('padding-bottom', 160, 60, 1440, 320, 1);

    // .about__container

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    // .about__textBlock

    &__textBlock {
      max-width: 500px;
      text-align: center;
    }

    // .about__title

    &__title {
      position: relative;
      margin-bottom: 40px;

      &::after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .projects {
    @include adaptiveValue('padding-top', 160, 60, 1440, 320, 1);
    @include adaptiveValue('padding-bottom', 160, 60, 1440, 320, 1);

    // .projects__title

    &__title {
      text-align: center;
      position: relative;

      &::after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .project {
    @include adaptiveValue('gap', 40, 24, 991, 320, 1);
    margin: 0 auto;
    align-items: center;

    // .project__item

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      max-width: 548px;
    }

    // .project__info

    &__info {
      padding: 0 16px;
      max-width: 500px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    // .project__used

    &__used {
      @include adaptiveValue('margin-bottom', 40, 32, 991, 768, 1);
      margin-bottom: 40px;
    }
  }

  .contact {
    @include adaptiveValue('padding-top', 160, 60, 1440, 320, 1);
    @include adaptiveValue('padding-bottom', 160, 60, 1440, 320, 1);

    // .contact__title

    &__title {
      text-align: center;
      position: relative;

      &::after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    // .contact__info

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include adaptiveValue('gap', 80, 40, 1024, 768, 1);
    }

    &__links {
      margin-top: 24px;
    }
  }
}
// =============================================================================

// =============================================================================
// From 480 to 768

@media (max-width: 768px) {
  .home {
    // .home__title

    &__title {
      @include adaptiveValue('font-size', 32, 24, 768, 480, 1);

      span {
        @include adaptiveValue('font-size', 52, 35, 768, 320, 1);
      }
    }

    // .home__subtitle

    &__subtitle {
      @include adaptiveValue('font-size', 24, 20, 768, 480, 1);
    }

    // .home__skills

    &__skills {
      @include adaptiveValue('gap', 32, 24, 768, 480, 1);
      @include adaptiveValue('padding-top', 60, 40, 768, 480, 1);
    }
  }

  .about {
    // .about__title
    &__title {
      @include adaptiveValue('font-size', 32, 24, 768, 480, 1);
      @include adaptiveValue('margin-bottom', 32, 24, 768, 480, 1);
    }

    // .about__container
    &__container {
      @include adaptiveValue('gap', 56, 40, 768, 480, 1);
    }
  }

  .projects {
    // .projects__title

    &__title {
      @include adaptiveValue('font-size', 32, 24, 768, 480, 1);
      @include adaptiveValue('margin-bottom', 56, 40, 768, 480, 1);
    }
  }

  .project {
    // .project__image

    &__image {
      @include adaptiveValue('width', 500, 400, 768, 480, 1);
    }

    // .project__info

    &__info {
      @include adaptiveValue('max-width', 500, 400, 768, 480, 1);
    }

    // .project__title

    &__title {
      @include adaptiveValue('font-size', 24, 20, 768, 480, 1);
    }
  }

  .contact {
    // .contact__title

    &__title {
      @include adaptiveValue('font-size', 32, 24, 768, 480, 1);
      @include adaptiveValue('margin-bottom', 56, 40, 768, 480, 1);
    }

    // .contact__main

    &__main {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
}
// =============================================================================

// =============================================================================
// From 480 to 320

@media (max-width: 480px) {
  .home {
    &__img {
      @include adaptiveValue('width', 400, 320, 480, 320, 1);
    }
  }

  .about {
    // .about__img

    &__img {
      @include adaptiveValue('width', 440, 288, 480, 320, 1);
    }
  }

  .project {
    // .project__item

    &__item {
    }

    // .project__image

    &__image {
      @include adaptiveValue('width', 400, 256, 480, 320, 1);
    }

    // .project__info

    &__info {
      @include adaptiveValue('max-width', 400, 256, 480, 320, 1);
      @include adaptiveValue('padding-left', 16, 0, 480, 320, 1);
      @include adaptiveValue('padding-right', 16, 0, 480, 320, 1);
    }

    // .project__usedTitle

    &__usedTitle {
      display: none;
    }

    // .project__button

    &__button {
      @include adaptiveValue('width', 148, 114, 400, 320, 1);
    }
  }
}
// =============================================================================
