
// =============================================================================
// ПОДКЛЮЧЕНИЕ ВСТРОЕННОЙ БИБЛИОТЕКИ

@use "sass:math";
// =============================================================================

// =============================================================================
// МИКСИНЫ 

// ***** Если не подключить этот файл, то в=адаптив и пливучие значение не будут работать *****//

@import "mixins";
// =============================================================================

// =============================================================================
// ПОДКЛЮЧЕНИЕ ШРИФТОВ 

// Подключение google шрифтов
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

// Подключение иконочных шрифтов 
//@import "fonts/icons";
// =============================================================================

// =============================================================================
// НАСТРОЙКИ ШРИФТА ПО УМОЛЧАНИЮ 

// Создаем переменные $fontFamily, $fontWeight, $fontSize, $mainColor и задаем параметры по умолчанию (те параметры, которые используются на макете больше всех). Эти переменные используются в обнуляющем стиле (null.scss) для тега body 

// Шрифт по умолчанию
$fontFamily: 'Poppins', sans-serif;

// Начертание шрифта по умолчанию
$fontWeight: 500;	

// Размер шрифта по умолчанию
// По умолчанию размер шрифта в браузере 16px. Дизайнеры больше всего используют 14px
$fontSize: rem(18);		// тут переменную $fontSize задаем значение с помощю функции rem, которий прописали в файле src/scss/base/mixins.scss
								// функция rem автоматически считает заданное значение в rem

										// @function rem($px) {								-создаем функцию rem, которая принимает какое-то значения
										// 	$result: math.div($px, 16) + rem;		-функцию пересчитывает введенное значение в rem, поделив это значение на 16	(18/16=1,125rem)
										// 	@return $result;								-возвращает полученный результат
										// } 

// Основные цвета
$mainColor: #FFFFFF;
// =============================================================================

// =============================================================================
// НАСТРОЙКИ АДАПТИВНОЙ СЕТКИ

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета) - общая ширина макета
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения) - ширина контента
$maxWidthContainer: 0;
// Общий отступ у контейнера - отступы безопасности
// (30 = по 15px слева и справа, 0 = нет отступа) - при сужения размера монитора контент не будет прилипать к монитору 
$containerPadding: 32;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейкпоинты
$pc: em($containerWidth); 	// ПК, ноутбуки и некоторые планшеты в горизонтальном положении
$tablet: em(991.98); 		// Планшеты и некоторые телефоны в горизонтальном положении
$mobile: em(767.98); 		// Телефоны L
$mobileSmall: em(479.98); 	// Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейкпоинтам (контейнер меняет свою ширину по брейкпоинтам)
$responsiveType: 1;
// =============================================================================

// =============================================================================
// ОБНУЛЕНИЕ ДЕФОЛТНЫХ СТИЛЕЙ ТЕГОВ

@import "null";
// =============================================================================

// =============================================================================
// СТИЛИ ТЕГА BODY 

body {
	// Горизонтальный скролл заблокирован
	background-color: #171717;
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// =============================================================================

// =============================================================================
// ОБОЛОЧКА WRAPPER

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer к низу экрана
	> main {			
		flex: 1 1 auto;	// разрешаем блоку main заполнять все свободное пространство родительского флекс-контейнера (wrapper), 
	}							// в результате этого блок footer прижимается к нижней части экрана, если он есть
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// =============================================================================

// =============================================================================
// ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР

/*	Стили будут применяться ко всем классам, содержащим *__container
Например, header__container, main__container и т.д.	*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] { 	//	любой класс с "что то__container"	
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
	  	@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейкпоинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}
// =============================================================================

// =============================================================================
// ПОДКЛЮЧЕНИЕ ФАЙЛОВ

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
// @import "base";

// Подключение стилей общих элементов проекта
// @import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "main";
// =============================================================================